"
            <li id="af3b8318-84cd-4d26-ba2" class="task-list-item ">
                <div class="todo-view">
                    <input type="checkbox" class="toggle" />
                    <label class="task-value"> 1 </label>
                    <input type="button" value="+ Subtask" class="subtask-adding-view__btn">
                    <input type="button" value="Delete Task" class="delete-task__btn">
                    <input type="button" value="Edit Task" class="edit-task__btn">
                </div>

                <div class="subtask-adding-view">
                    <input type="text" name="subtask-input" class="subtask-input" placeholder="Your Subtask goes here!" autofocus>
                    <input type="submit" value="Save Subtask" class="add-subtask__btn">
                    <input type="submit" value="Cancel" class="subtask-remove-view__btn">
                </div>

                <div class="edit-task-view">
                    <input type="text" name="edit-task-input" class="edit-task" autofocus>
                    <input type="submit" value="Save" class="save-edit-task__btn">
                    <input type="submit" value="Cancel" class="edit-task-remove-view__btn">
                </div>

                <ul id="collection-af3b8318-84cd-4d26-ba2" class="subtask-collection">
                            
                    <li id="691741ac-466a-467c-b04" class="task-list-item ">
                        <div class="todo-view">
                            <input type="checkbox" class="toggle" />
                            <label class="task-value"> A </label>
                            <input type="button" value="+ Subtask" class="subtask-adding-view__btn">
                            <input type="button" value="Delete Task" class="delete-task__btn">
                            <input type="button" value="Edit Task" class="edit-task__btn">
                        </div>

                        <div class="subtask-adding-view">
                            <input type="text" name="subtask-input" class="subtask-input" placeholder="Your Subtask goes here!" autofocus>
                            <input type="submit" value="Save Subtask" class="add-subtask__btn">
                            <input type="button" value="Cancel" class="subtask-remove-view__btn">
                        </div>

                        <div class="edit-task-view">
                            <input type="text" name="edit-task-input" class="edit-task" autofocus>
                            <input type="submit" value="Save" class="save-edit-task__btn">
                            <input type="submit" value="Cancel" class="edit-task-remove-view__btn">
                        </div>

                        <ul id="collection-691741ac-466a-467c-b04" class="subtask-collection"> 
                            
                            <li id="5be01227-623a-42ca-b88" class="task-list-item completed">
                                <div class="todo-view">
                                    <input type="checkbox" class="toggle" checked/>
                                    <label class="task-value"> ! </label>
                                    <input type="button" value="+ Subtask" class="subtask-adding-view__btn">
                                    <input type="button" value="Delete Task" class="delete-task__btn">
                                    <input type="button" value="Edit Task" class="edit-task__btn">
                                </div>

                                <div class="subtask-adding-view">
                                    <input type="text" name="subtask-input" class="subtask-input" placeholder="Your Subtask goes here!" autofocus>
                                    <input type="submit" value="Save Subtask" class="add-subtask__btn">
                                    <input type="button" value="Cancel" class="subtask-remove-view__btn">
                                </div>

                                <div class="edit-task-view">
                                    <input type="text" name="edit-task-input" class="edit-task" autofocus>
                                    <input type="submit" value="Save" class="save-edit-task__btn">
                                    <input type="submit" value="Cancel" class="edit-task-remove-view__btn">
                                </div>

                                <ul id="collection-5be01227-623a-42ca-b88" class="subtask-collection"> 
                                    undefined 
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
                            
            <li id="0b63d3e3-6777-4153-801" class="task-list-item completed">
                <div class="todo-view">
                    <input type="checkbox" class="toggle" checked/>
                    <label class="task-value"> 2 </label>
                    <input type="button" value="+ Subtask" class="subtask-adding-view__btn">
                    <input type="button" value="Delete Task" class="delete-task__btn">
                    <input type="button" value="Edit Task" class="edit-task__btn">
                </div>

                <div class="subtask-adding-view">
                    <input type="text" name="subtask-input" class="subtask-input" placeholder="Your Subtask goes here!" autofocus>
                    <input type="submit" value="Save Subtask" class="add-subtask__btn">
                    <input type="submit" value="Cancel" class="subtask-remove-view__btn">
                </div>

                <div class="edit-task-view">
                    <input type="text" name="edit-task-input" class="edit-task" autofocus>
                    <input type="submit" value="Save" class="save-edit-task__btn">
                    <input type="submit" value="Cancel" class="edit-task-remove-view__btn">
                </div>

                <ul id="collection-0b63d3e3-6777-4153-801" class="subtask-collection">
                    
            <li id="7eda0e3c-551a-403b-a19" class="task-list-item completed">
                <div class="todo-view">
                    <input type="checkbox" class="toggle" checked/>
                    <label class="task-value"> B </label>
                    <input type="button" value="+ Subtask" class="subtask-adding-view__btn">
                    <input type="button" value="Delete Task" class="delete-task__btn">
                    <input type="button" value="Edit Task" class="edit-task__btn">
                </div>

                <div class="subtask-adding-view">
                    <input type="text" name="subtask-input" class="subtask-input" placeholder="Your Subtask goes here!" autofocus>
                    <input type="submit" value="Save Subtask" class="add-subtask__btn">
                    <input type="button" value="Cancel" class="subtask-remove-view__btn">
                </div>

                <div class="edit-task-view">
                    <input type="text" name="edit-task-input" class="edit-task" autofocus>
                    <input type="submit" value="Save" class="save-edit-task__btn">
                    <input type="submit" value="Cancel" class="edit-task-remove-view__btn">
                </div>

                <ul id="collection-7eda0e3c-551a-403b-a19" class="subtask-collection"> 
                    
            <li id="de5560fc-537f-43da-b47" class="task-list-item completed">
                <div class="todo-view">
                    <input type="checkbox" class="toggle" checked/>
                    <label class="task-value"> @ </label>
                    <input type="button" value="+ Subtask" class="subtask-adding-view__btn">
                    <input type="button" value="Delete Task" class="delete-task__btn">
                    <input type="button" value="Edit Task" class="edit-task__btn">
                </div>

                <div class="subtask-adding-view">
                    <input type="text" name="subtask-input" class="subtask-input" placeholder="Your Subtask goes here!" autofocus>
                    <input type="submit" value="Save Subtask" class="add-subtask__btn">
                    <input type="button" value="Cancel" class="subtask-remove-view__btn">
                </div>

                <div class="edit-task-view">
                    <input type="text" name="edit-task-input" class="edit-task" autofocus>
                    <input type="submit" value="Save" class="save-edit-task__btn">
                    <input type="submit" value="Cancel" class="edit-task-remove-view__btn">
                </div>

                <ul id="collection-de5560fc-537f-43da-b47" class="subtask-collection"> 
                    undefined 
                </ul>
            </li>
            
                </ul>
            </li>
            
                </ul>
            </li>
            
            <li id="ac86dc34-105b-4cbb-abd" class="task-list-item ">
                <div class="todo-view">
                    <input type="checkbox" class="toggle" />
                    <label class="task-value"> 3 </label>
                    <input type="button" value="+ Subtask" class="subtask-adding-view__btn">
                    <input type="button" value="Delete Task" class="delete-task__btn">
                    <input type="button" value="Edit Task" class="edit-task__btn">
                </div>

                <div class="subtask-adding-view">
                    <input type="text" name="subtask-input" class="subtask-input" placeholder="Your Subtask goes here!" autofocus>
                    <input type="submit" value="Save Subtask" class="add-subtask__btn">
                    <input type="submit" value="Cancel" class="subtask-remove-view__btn">
                </div>

                <div class="edit-task-view">
                    <input type="text" name="edit-task-input" class="edit-task" autofocus>
                    <input type="submit" value="Save" class="save-edit-task__btn">
                    <input type="submit" value="Cancel" class="edit-task-remove-view__btn">
                </div>

                <ul id="collection-ac86dc34-105b-4cbb-abd" class="subtask-collection">
                    
            <li id="6a12db0b-add0-4c33-b37" class="task-list-item completed">
                <div class="todo-view">
                    <input type="checkbox" class="toggle" checked/>
                …"