.body {
	margin: 0, auto;
    display: grid;
    grid-template-columns: 100px minmax(550px, 1fr) 100px;
	grid-template-rows: repeat(6, 1fr);
	background: #fcca3d;
	color: #444b54;
	justify-content: center;
	align-items: center;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;a
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
	outline: none;
}

.todoapp{
    grid-column: 2 / 3;
	grid-row: 2 / 6;
	background-color: #fcca3d;
	width: auto;
	height: auto;
	padding: 20px;
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 5px 60px 10px rgba(0,0,0,0.2);
}



.new-todo {
	width: 550px;
    height: 35px;
    border-radius: 30px;
    padding: 15px 15px 15px 65px;
	border: none;
	box-shadow: 5px 5px 100px 10px rgba(0,0,0,0.25);
	margin-bottom: 20px;
	background-image: linear-gradient( 109.5deg,  rgba(229,233,177,1) 11.2%, rgba(223,205,187,1) 100.2% );
}


#new-todo::placeholder {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 25px;
	color: #444b54;
}


.todo-list {
	margin: 0px;
	display: grid;
	list-style: none;
	padding: 0;
}

.view {
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.create-new-nested-todo {
	display: block;
	width: 20px;
	font-size: 30px;
	color: lightgray;
	transition: all 0.2s ease-out;
}

.create-new-nested-todo {
	font-size: 18px;
	color: limegreen;
}

#todo-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: 40px;
	margin: auto 0;
	border: none; /* Mobile Safari */
	opacity: 0;
}

#todo-list li .far .toggle:after {
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: lightsteelblue;
}

#todo-list li .far .toggle:checked:after {
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: limegreen;
}


.todo-value {
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	line-height: 1.2;
	transition: color 0.4s;
	width: 400px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #d9d9d9;
}

#todo-list li.completed label {
	color: #d9d9d9;
	border-bottom: #ff5576;
	text-decoration: line-through;
}

#todo-list li .destroy {
	width: 20px;
	font-size: 20px;
	color: #ff5576;
	transition: color 0.2s ease-out;
}

#todo-list li .destroy:hover {
	color: #af5b5e;
}


#todo-list li:hover .destroy {
	display: flex;
}

#todo-list li .edit {
	display: none;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.input-nested-todo {
	grid-column: 2 / -1;
	grid-row: 2 / 3;
	display: block;
}

.input-nested-todo-editing {
	grid-column: 2 / -1;
	grid-row: 2 / 3;
	width: 550px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 0;
	border: none;
	background-color: whitesmoke;
	box-sizing: border-box;
}






.footer{
	grid-column: 2 / 3;
	grid-row: 6 / 7;
	text-align: center;
	justify-self: flex-end;
}