.subtask-adding-view {
    display: none;
}

.subtask-adding-view.on {
    display: block;
}

.edit-task-view {
    display: none;
}

.task-list-item.editing-on .edit-task-view.on {
    display: block;
}

.task-list-item .todo-view {
    display: block;
}

.task-list-item.editing-on .todo-view {
    display: none;
}

.task-list-item.completed label{
    text-decoration: line-through;
}

/* .task-list-item.completed input{
    display: none;
} */

.toggle:completed label{
    text-decoration: line-through;
}

