.heading-primary {
    font-family: inherit;
    font-weight: 900;
    font-size: 6rem;
    text-align: center;
    color: $grey-dark-2;
    margin-bottom: 3rem;
}

.heading-secondary {
    margin: 1rem;
    font-family: inherit;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    color: $grey-dark-2;
}