/* ----------- IMPORT ---------- */

@import "abstract/variables";

@import "base/base";
@import "base/typography";

@import "components/collections";
@import "components/list-items";
@import "components/main-input";
@import "components/header";
@import "components/todo-view";


.subtask-adding-view {
    display: none;
}

.subtask-adding-view.on {
    display: block;
}

.edit-task-view {
    display: none;
}

.task-list-item.editing-on .edit-task-view.on {
    display: block;
}



.task-list-item.editing-on .todo-view {
    display: none;
}

.task-list-item.completed label {
    text-decoration: line-through; 
}

.task-list-item.completed ul {
    display: none; 
}

.task-list-item.completed .edit-task__btn {
    display: none; 
}

.task-list-item.completed .subtask-adding-view__btn {
    display: none; 
}