/* ----------- IMPORT ---------- */

// @import "base/base";
@import "components/main-input";
// @import "components/header";

/* ----------- VARIABLES ---------- */

$color-mustard: #fcca3d;
$color-pink: #ff5576;
$color-blue: #0070ff;

$color-grey: #444b54;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(237, 237, 237);
$color-grey-light-3: #a9b0ac;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


.subtask-adding-view {
    display: none;
}

.subtask-adding-view.on {
    display: block;
}

.edit-task-view {
    display: none;
}

.task-list-item.editing-on .edit-task-view.on {
    display: block;
}

.task-list-item .todo-view {
    display: block;
}

.task-list-item.editing-on .todo-view {
    display: none;
}

.task-list-item.completed label{
    text-decoration: line-through;
}

.toggle:completed label{
    text-decoration: line-through;
}

