<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Nested Todos</title>
		<script src="https://kit.fontawesome.com/64c369e33d.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../public/css/mvc-index.css">
		<link rel="stylesheet" href="../public/css/app.css">
		
	</head>
	<body class="body">
		<section id="todoapp" class="todoapp">
			<header id="header" class="header">
				<h1>nestedTodos</h1>
				<input id="new-todo" class="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section id="main" class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all" class="toggle-all">Mark all as complete</label>
				<ul id="todo-list" class="todo-list">
				</ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info" class="footer">
			<!-- <p>Double-click to edit a todo</p>
			<p>Created by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p> -->
		</footer>
		<script src="../public/js/director.js"></script>
		<script src="../public/js/app.js"></script>
	</body>
</html>